figura
saves
schematics
local
.vscode
ChatImageCache
logs
screenshots
servers.dat
servers.dat_old
heracles_options.json
shaderpacks
resourcepacks
texturepacks
server_resource_packs
crash-reports
hotbar.nbt
usercache.json
usernamecache.json
rhino.local.properties
options.txt
fancymenu_data
