figura
saves
schematics
local
.vscode
ChatImageCache
logs
screenshots
servers.dat
servers.dat_old
heracles_options.json
shaderpacks
resourcepacks
texturepacks
server_resource_packs
crash-reports
hotbar.nbt
usercache.json
usernamecache.json
rhino.local.properties
options.txt
fancymenu_data
etched-sounds
modernfix
icon.png
fabricloader.log
config/sound_physics_remastered/reflectivity.properties
config/sound_physics_remastered/occlusion.properties
config/oculus.properties
config/indium-renderer.properties
config/fabric/indigo-renderer.properties
icon.png
config/fabric/indigo-renderer.properties
config/indium-renderer.properties
config/sound_physics_remastered/reflectivity.properties
config/sound_physics_remastered/occlusion.properties
config/voicechat/username-cache.json
config/indium-renderer.properties
config/fabric/indigo-renderer.properties
config/embeddium-fingerprint.json
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
/.probe
config/embeddium-fingerprint.json
config/embeddium-options.json
config/fabric/indigo-renderer.properties
config/jei/recipe-category-sort-order.ini
config/oculus.properties
emi.json
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
emi.json
